<script src='http://<%=host%>/socket.io/socket.io.js'></script> 
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script> 
<head>
<title>
slave
</title>
<script> 
	socket = null;
	init = function() 
	{ 
		try 
		{ 
			var host = '<%=host%>';
			host = host.substring(0,host.indexOf(':')); 
			socket = new io.Socket(host,{port:8000,transports:['websocket', 'flashsocket', 'xhr-polling', 'htmlfile', 'xhr-multipart', 'jsonp-polling']}); 
			socket.connect(); 
			socket.on('message', function(data){
					if (data.substring(0,4)=='http') $("iframe").attr('src',data);
					else $("#log").html(data+"<br>");
				});
			socket.on('disconnect', function(){});
		} 
		catch (err) 
		{ 
			alert(err); 
		} 
	}; 
	$(document).ready(function() { 
		init(); 
	}); 

$('#submit').click(function(e){
	msg = $("#msg").val();
	socket.send(msg);
	
})
</script>
</head>
<body>
<iframe id='iframe' src="" width="100%" height="100000" frameborder=0 border=0>
  stuff
</iframe>
</body>